<%- include('partials/header') -%>
        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            <!-- Page Sidebar Start-->
            <div class="sidebar-wrapper">
                <div>
                    <div class="logo-wrapper logo-wrapper-center">
                        <a href="index-1.html" data-bs-original-title="" title="">
                            <img class="img-fluid for-dark" src="/../assets/images/logo/logo-white-1.png" alt="">
                        </a>
                        <div class="back-btn">
                            <i class="fa fa-angle-left"></i>
                        </div>
                        <div class="toggle-sidebar">
                            <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
                        </div>
                    </div>
                    <div class="logo-icon-wrapper">
                        <a href="index-1.html">
                            <img class="img-fluid main-logo" src="/../assets/images/logo/logo-1.png" alt="logo">
                        </a>
                    </div>
                    <nav class="sidebar-main">
                        <div class="left-arrow" id="left-arrow">
                            <i data-feather="arrow-left"></i>
                        </div>

                        <div id="sidebar-menu">
                            <ul class="sidebar-links" id="simple-bar">
                                <li class="back-btn"></li>
                                <li class="sidebar-main-title sidebar-main-title-3">
                                    <div>
                                        <h6 class="lan-1">General</h6>
                                        <p class="lan-2">Dashboards &amp; Users.</p>
                                    </div>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="index-1.html">
                                        <i data-feather="home"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="users"></i>
                                        <span>Users</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="all-users-1.html">All users</a>
                                        </li>
                                        <li>
                                            <a href="add-new-user-1.html">Add new user</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-main-title sidebar-main-title-2">
                                    <div>
                                        <h6 class="lan-1">Application</h6>
                                        <p class="lan-2">Ready To Use Apps</p>
                                    </div>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="archive"></i>
                                        <span>Orders</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="order-list-1.html">Order List</a>
                                        </li>
                                        <li>
                                            <a href="order-detail-1.html">Order Detail</a>
                                        </li>
                                        <li>
                                            <a href="order-tracking-1.html">Order Tracking</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="users"></i>
                                        <span>Venders</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="vendor-list-1.html">Vendor List</a>
                                        </li>

                                        <li>
                                            <a href="create-vendor-1.html">Create Vendor</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="users"></i>
                                        <span>Localization</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="translation-1.html">Translation</a>
                                        </li>

                                        <li>
                                            <a href="currency-rates-1.html">Currency Rates</a>
                                        </li>

                                        <li>
                                            <a href="taxes-1.html">Taxes</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="box"></i>
                                        <span>Product</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="products-1.html">Prodcts</a>
                                        </li>

                                        <li>
                                            <a href="add-new-product-1.html">Add New Products</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="align-left"></i>
                                        <span>Menus</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="menu-lists-1.html">Menu Lists</a>
                                        </li>

                                        <li>
                                            <a href="create-menu-1.html">Create Menu</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="tag"></i>
                                        <span>Coupons</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="coupon-list-1.html">Coupon List</a>
                                        </li>

                                        <li>
                                            <a href="create-coupon-1.html">Create Coupon</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="product-review-1.html">
                                        <i data-feather="star"></i>
                                        <span>Product Review</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="invoice-1.html">
                                        <i data-feather="archive"></i>
                                        <span>Invoice</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="support-ticket-1.html">
                                        <i data-feather="phone"></i>
                                        <span>Support Ticket</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="linear-icon-link sidebar-link sidebar-title" href="javascript:void(0)">
                                        <i data-feather="settings"></i>
                                        <span>Settings</span>
                                    </a>
                                    <ul class="sidebar-submenu">
                                        <li>
                                            <a href="profile-setting-1.html">Profile Setting</a>
                                        </li>
                                    </ul>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="reports-1.html">
                                        <i data-feather="file-text"></i>
                                        <span>Reports</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="list-page-1.html">
                                        <i data-feather="list"></i>
                                        <span>List Page</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="login-1.html">
                                        <i data-feather="log-in"></i>
                                        <span>Log In</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="forgot-password-1.html">
                                        <i data-feather="key"></i>
                                        <span>Forgot Password</span>
                                    </a>
                                </li>

                                <li class="sidebar-list">
                                    <a class="sidebar-link sidebar-title link-nav" href="sign-up-1.html">
                                        <i data-feather="plus-circle"></i>
                                        <span>Register</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="right-arrow" id="right-arrow">
                            <i data-feather="arrow-right"></i>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- Page Sidebar Ends-->

            <!-- index body start -->
            <div class="page-body">
                <div class="container-fluid">
                    <div class="row">
                        <!-- chart caard section start -->
                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="b-b-primary border-5 border-0 card o-hidden">
                                <div class="custome-1-bg b-r-4 card-body">
                                    <div class="media align-items-center static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Earnings</span>
                                            <h4 class="mb-0 counter">6659
                                                <span class="badge badge-light-primary grow">
                                                    <i data-feather="trending-up"></i>8.5%</span>
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i data-feather="database"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="b-b-danger border-5 border-0 card o-hidden">
                                <div class=" custome-2-bg  b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total Booking</span>
                                            <h4 class="mb-0 counter">9856
                                                <span class="badge badge-light-danger grow">
                                                    <i data-feather="trending-down"></i>8.5%</span>
                                            </h4>
                                        </div>
                                        <div class="align-self-center text-center">
                                            <i data-feather="shopping-bag"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="b-b-secondary border-5 border-0  card o-hidden">
                                <div class=" custome-3-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Reviews</span>
                                            <h4 class="mb-0 counter">893
                                                <span class="badge badge-light-secondary grow ">
                                                    <i data-feather="trending-up"></i>8.5%</span>
                                            </h4>
                                        </div>

                                        <div class="align-self-center text-center">
                                            <i data-feather="message-circle"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-xxl-3 col-lg-6">
                            <div class="b-b-success border-5 border-0 card o-hidden">
                                <div class=" custome-4-bg b-r-4 card-body">
                                    <div class="media static-top-widget">
                                        <div class="media-body p-0">
                                            <span class="m-0">Total User</span>
                                            <h4 class="mb-0 counter">45631
                                                <span class="badge badge-light-success grow">
                                                    <i data-feather="trending-down"></i>8.5%</span>
                                            </h4>
                                        </div>

                                        <div class="align-self-center text-center">
                                            <i data-feather="user-plus"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chart caard section End -->

                        <div class="title-header">
                            <h5>New Business Accounts List</h5>
                        </div>
        
                        <!-- Table Start -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div>
                                                <div class="table-responsive table-desi">
                                                    <table class="table table-striped all-package">
                                                        <thead>
                                                            <tr>
                                                                <th>Shipper Name</th>
                                                                <th>Contact</th>
                                                                <th>Business Name</th>
                                                                <th>Previous Company</th>
                                                                <!-- <th>Previous Company</th> -->
                                                                <th>Date</th>
                                                                <th>Options</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                          <%  users.forEach(function(user){ %>
                                                             <tr>
                                                                <td>
                                                                   <%= user.username %> 
                                                                </td>
                                                                <td><%= user.phoneno %></td>
                                                                <td><%= user.businessname %></td>
                                                                <td class="order-success">
                                                                    <span><%= user.previous_company %></span>
                                                                </td>
                                                                <td><%= user.date %></td>
                                                                <td>
                                                                    <ul>
                                                                        <li>
                                                                            <a href="order-detail-1.html">
                                                                                <i class="fa-solid fa-eye"></i>
                                                                            </a>
                                                                        </li>
        
                                                                        <li><form action="/admin/order/<%= user._id %>" method="post" style="display: inline;">
                                                                            <button type="submit">
                                                                                <i class="fa-solid fa-circle-check"></i>
                                                                            </button>
                                                                            <!-- <a href="">
                                                                            </a> -->
                                                                        </form>
                                                                            
                                                                        </li>
                                                                        <li><form action="/admin/<%= user._id %>?_method=DELETE" enctype="multipart/form-data" method="post" style="display: inline;">
                                                                            <button onclick="return confirm('Are you sure you want to delete this item?');" type="submit">
                                                                                <i class="fa-solid fa-trash"></i>
                                                                            </button>
                                                                            <!-- <a href="">
                                                                            </a> -->
                                                                        </form>
                                                                            
                                                                        </li>
                                                                    </ul>
                                                                </td>
                                                            </tr>
                                                          <%  }) %>  
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
        
                                        <!-- Pagination Box Start -->
                                        <!-- <div class=" pagination-box">
                                            <nav class="ms-auto me-auto " aria-label="...">
                                                <ul class="pagination pagination-primary">
                                                    <li class="page-item disabled">
                                                        <a class="page-link" href="javascript:void(0)">Previous</a>
                                                    </li>
        
                                                    <li class="page-item active">
                                                        <a class="page-link" href="javascript:void(0)">1</a>
                                                    </li>
        
                                                    <li class="page-item">
                                                        <a class="page-link" href="javascript:void(0)">2</a>
                                                    </li>
        
                                                    <li class="page-item">
                                                        <a class="page-link" href="javascript:void(0)">3</a>
                                                    </li>
        
                                                    <li class="page-item">
                                                        <a class="page-link" href="javascript:void(0)">Next</a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div> -->
                                        <!-- Pagination Box End -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Table End -->
                    </div>
                </div>
                <!-- Container-fluid Ends-->
<%- include('partials/footer') -%>